html {
  font-size: 16px; /* 1rem = 16px, 2rem = 32px */
}

:root {
  --colorPrimary: #ff00c8;
  --colorPrimaryDarker: #da00ab;
  --colorPrimaryDarkest: #e500b0;
  --colorSecondary: #00ff55;
  --colorTherdiary: rgba(195, 0, 255, 0.1);

  --colorBg: #222222;

  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-xxxl: 3.75rem;
}

body {
  background-color: var(--colorBg);
  color: var(--colorPrimary);
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font-weight: Use a value from 200 to 1000 */

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul {
  list-style-type: none;
}
